*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins",sans-serif;
}

/* designing for top level (html tag) */

:root {
  --h1-font: 4.8rem;
  --h2-font: 3.5rem;
  --p-font: 1rem;

  --bg-color: #b3e7b6;
  --text-color: #000000;
  --main-color: #78b97c;
  --other-color: #d4d2e3;
  --second-color: #ffffff;
}

body{
    background:linear-gradient(#b3e7b6,#0b6310);
    color: var(--text-color);
}
header{
    position: fixed;
    width: 100%;
    top:0;
    right:0;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background:transparent;
    z-index:1000 ;
    padding:28px 15%;
    transition: all .8s ease;
    /* background: #78b97c; */

}
.logo img{
    width:100%;
    height:auto;
}

.navlinks a{
    display:inline-block;
    margin: 0 25px;
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--text-color);
    transition: all .8s ease;
}

.navlinks a:hover{
    color: var(--main-color);
}

.right-h{
    display: flex;
    align-items: center;
}
.btn-r{
    display: inline-block;
    padding: 12px 28px;
    color:var(--second-color);
    background: var(--text-color);
    border-width: 1px 3px 3px 1px;
    border-style: solid;
    border-color: var(--main-color);
    border-radius:30px;
    margin: 0 25px;
    font-size: var(--p-font);
    font-weight: 400;
    transition: all .7s ease;
}
.btn-r:hover{
    color:var(--main-color);
    transform: scale(1.1) translateY(-5px) ;
}

.menu-icon{
    font-size: 35px;
    z-index:10001;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

section{
    padding: 90px 15% 80px;
}

.home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1rem;
}
.home-right{
    position: relative;
}
.home-right img{
    width: 100%;
    height: auto;
    object-fit: contain;
}
.r-info{
    position: absolute;
    background-color: #ffffff3a;
    border: 1px solid #ffffff3a;
    border-radius: 30px;
    padding: 15px 15px 20px;
    right: 10px;
    top: 120px;
}
.count{
    font-size: 20px;
    font-weight: 700;
    margin: 3px;
}
.info-text{
    font-size: 12px;
    line-height: 25px;
    text-transform: uppercase;
}
.home-left p{
    font-size: var(--p-font);
    font-weight: 500;
    line-height: 28px;
    margin: 35px 0;
}
.home-left h1{
    font-size: var(--h1-font);
    font-weight: 800;
    line-height: 1.3;
}

.left-in{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.btn{
    display: inline-block;
    padding: 16px 35px;
     color:var(--second-color);
    background: var(--text-color);
    border-width: 1px 3px 3px 1px;
    border-style: solid;
    border-color: var(--main-color);
    border-radius:30px;
    margin: 0 25px;
    font-size: var(--p-font);
    font-weight: 400;
    transition: all .7s ease;
}

.btn:hover{
    color: var(--main-color);
    transform: scale(1.1);
}

.left-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.left-content h5{
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 5px;
    letter-spacing: 1px;
}
.r-icons i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    margin: 0 6px;
    font-size: 15px;
    background-color: #ffffff3a;
    color: var(--text-color);
    border: 1px solid #ffffff3a;
    border-radius: 30px;
    transition: all .7s ease;
}

.r-icons i:hover{
    background-color: var(--text-color);
    color: var(--main-color);
    transform: scale(1.1) translateY(-3px);
}
 header.sticky{
    padding: 15px 15%;
    background:transparent;
    backdrop-filter: blur(30px);
}


.mid-text{
    text-align: center;
}
.mid-text img{
    width: 100%;
    height: auto;
    max-width: 80px;
}
.mid-text h2{
    font-size: var(--h2-font);
    font-weight: 700;
    margin-bottom: 5px;
}
.mid-text p{
    font-size: var(--p-font);
    font-weight: 500;
    line-height: 28px;
}

.services-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,auto));
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}
.s-img{
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
}

.s-img img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: ease 0.7s;
    cursor: pointer;
}

.s-img img:hover{
    transform: scale(1.1);
}

.box{
    border-width: 1px 4px 4px 1px;
    border-style: solid;
    border-color: var(--text-color);
    padding: 0px 0px 25px 0px;
    border-radius: 20px;
    box-shadow: 0px 5px 40px rgb(19 8 73 / 13%);
    transition: all .40s ease;
}
.box-in{
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 15px;
    padding: 5px 30px;
}
.box-left p{
    font-size: var(--p-font);
    font-weight: 500;
    line-height: 28px;
}

.box-right h5{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 2px;
}
.box-right i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: var(--text-color);
    color: var(--second-color);
    border-radius: 30px;
    transition: all .7s ease;
}

.box:hover i{
    transform: scale(1.3) rotate(-45deg);
    color: var(--main-color);
}

.features{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    align-items: center;
    gap: 1rem;
    /* height: 100vh; */
}
.features-img img{
    width: 100%;
    height: auto;
}

.features-text img{
    width: 100%;
    height: auto;
    max-width: 80px;
}

.features-text h2{
    font-size: var(--h2-font);
    font-weight: 700;
    line-height: 1.4;
    margin: 20px 0px;
}
.features-text h5{
    font-size: 20px;
    font-weight: 600;
}
.features-text p{
    font-size: var(--p-font);
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 30px;
}


.menu-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,auto));
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}
.menu-btn{
    margin-top:4rem ;
    text-align: center;
}

.contact-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.contact-content h2{
    font-weight: 500;
    margin-bottom: 40px;
    font-size: var(--h2-font);
}

.contact-content hr{
    width: 15.333333%;
    border: 2px solid var(--main-color);
    margin-bottom: 40px;
    cursor: pointer;
    transition: all .7s ease;
}

.contact-content:hover hr{
    width: 20.3333333333%;
}

.contact-content p{
    font-size: var(--p-font);
    font-weight: 500;
    margin-bottom: 30px;
}
.social-icons i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    margin: 0 10px;
    font-size: 18px;
    background-color: #ffffff3a;
    color: var(--text-color);
    border: 1px solid #ffffff3a;
    border-radius: 30px;
    transition: all .7s ease;
}

.social-icons i:hover{
    background-color: var(--text-color);
    color: var(--main-color);
    transform: scale(1.1) translateX(-3px);
}

.footer{
    padding: 20px 15%;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.copyright p {
    font-size: var(--p-font);
    font-weight: 500;
}
.scroll-btn a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    color: var(--second-color);
    background: var(--text-color);
    border-width: 1px 3px 3px 1px;
    border-style: solid;
    border-color: var(--main-color);
    border-radius: 30px;
    font-size: 22px;
}



@media (max-width : 1700px ){
    header{
        padding: 18px 5%;
    }
    header.sticky{
        padding: 12px 5%;
    }
    section{
        padding: 80px 5% 70px;
    }
    .footer{
        padding:15px 5%;
    }
}

@media (max-width : 1300px ){
    :root{
        --h1-font:4rem;
        --h2-font:2.8rem;
        --p-font:15px;
    }
    .menu-content{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(300px,auto));
    }
}

@media (max-width : 1110px ){
    header{
        padding: 15px 2%;
    }
    header.sticky{
        padding: 10px 2%;
    }
    section{
        padding: 80px 2% 70px;
    }
    .footer{
        padding:15px 2%;
    }
    .r-info{
        padding: 10px 10px 15px;
        max-width: 170px;
        right: 19px;
        top: 40px;
    }
    .services-content{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(290px,auto));
    }
}

@media (max-width : 1010px ){
    #menu-icon{
        display: block;
    }
    .navlinks{
        position: absolute;
        width: 100%;
        height: 100vh;
        padding: 80px 40px;
        right: -100%;
        left: 1;
        display: flex;
        flex-direction: column;
        background-color: linear-gradient(#b3e7b6,#0b6310);
        transition: all .7s ease-in-out;
    }
    .navlinks a{
        display: block;
        padding: 0;
        margin: 0px 0px 38px 0px;
        font-size: 2rem;
        font-weight: 400;
    }
    .navlinks a:hover{
        font-size: 2.3rem;
        color: var(--text-color);
    }
    .navlinks.open{
        left: 0;
    }
    section{
        padding: 70px 2% 60px;
    }
    .home{
        height: 90vh;
    }
    :root{
        --h1-font:3.5rem;
        --h2-font:2.4rem;
    }
}

@media (max-width : 950px){
    .home{
        height: 112vh;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .home-left{
        padding-top: 50px;
    }
    .home-right{
        /* order: 2; */
        text-align: center;
    }
    .home-right img{
        order: 2;
        margin-top: 10px;
        max-width: 500px;
        width: 100%;
        height: 100%;
        object-fit: contain;
        align-self: center;
    }
    .services{
        margin-top: 120px;
    }
    .features{
        text-align: center;
        grid-template-columns: 1fr;
    }
    .features-img img{
        margin-top: 20px;
        max-width: 500px;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .features-img{
        text-align: center;
    }
}

@media (max-width:470px) {
    :root{
        --h1-font:3rem;
        --h2-font:2.2rem;
        --p-font:14px;
    }
    .contact-content{
        padding: 20px;
    }
}